@{
    ViewData["Title"] = "Bokning";
}

<html>
	<head>
		<title>Bokning</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/templates/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="/templates/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
		<div id="wrapper">

			<!-- Main -->
			<section id="main" class="wrapper">
				<div class="inner">
					<h1 class="major">A Generic Page</h1>
					<span class="image fit"><img src="/templates/images/pic04.jpg" alt="" /></span>
					<p>Kort info om bokningsflödet</p>
					
					<!-- One -->
					<section id="one" class="wrapper style2 spotlights">
						<section>
							<a href="#" class="image"><img src="/templates/images/pic01.jpg" alt="" data-position="center center" /></a>
							<div class="content">
								<div class="inner">
									<h2>Mustning Pastöriserad BiB 30-100kg</h2>
									<p>Du behöver ha med dig minst 30 kg äpplen för en pressning. Har du flera hundra kilon bokar du en timme per 100kg äpplen. Tex 300 kg = 3 timmar, ex kl 13-16</p>
									<p>30 min. 28kr/l</p>
									<ul class="actions">
										<li><a href="/Home/Calendar" class="button">Boka tid</a></li>
									</ul>
								</div>
							</div>
						</section>

						<section>
							<a href="#" class="image"><img src="/templates/images/pic02.jpg" alt="" data-position="top center" /></a>
							<div class="content">
								<div class="inner">
									<h2>Mustning Råmust 30-100kg</h2>
									<p> Du tar själv med kärl att tappa musten i, t.ex petflaskor eller dunkar</p>
									<p>Under denna mustning pastöriseras inte musten utan pressas och tappas direkt på dina medhavda egna väl rengjorda kärl. Råmusten är sedan hållbar ca 3-5 dagar alternativt upp till ett år i frysen.</p>
									<p>30min. 18kr/l</p>
									<ul class="actions">
										<li><a href="/Home/Calendar" class="button">Boka tid</a></li>
									</ul>
								</div>
							</div>
						</section>
					</section>
				</div>
			</section>
		</div>


		<!--Utred vilka av dessa jag behöver, kan någon tas bort?-->
		<!-- Scripts -->
		<script src="/templates/assets/js/jquery.min.js"></script>
		<script src="/templates/assets/js/jquery.scrollex.min.js"></script>
		<script src="/templates/assets/js/jquery.scrolly.min.js"></script>
		<script src="/templates/assets/js/browser.min.js"></script>
		<script src="/templates/assets/js/breakpoints.min.js"></script>
		<script src="/templates/assets/js/util.js"></script>
		<script src="/templates/assets/js/main.js"></script>

	</body>
</html>