<html>
	<head>
		<title>Kalender</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/templates/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="/templates/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<div id="calendar-container">
			<div id="app-calendar">
			</div>
		</div>












		<script src="~/js/site.js"></script>
	</body>
</html>

