<html>
	<head>
		<title>Generic - Hyperspace by HTML5 UP</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/templates/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="/templates/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
		<div id="wrapper">

			<!-- Main -->
			<section id="main" class="wrapper">
				<div class="inner">
					<h1 class="major">Frågor & Svar</h1>
					<span class="image fit"><img src="/templates/images/pic04.jpg" alt="" /></span>
					<p>Hitta snabba svar på vanliga frågor! Utforska vår frågor & svar-sektion för att lösa dina funderingar på ett ögonblick.</p>
					<p>Fråga</p>
					<p>Svar</p>
					<p>Fråga</p>
					<p>Svar</p>
					<p>Fråga</p>
					<p>Svar</p>
					<p>Fråga</p>
					<p>Svar</p>
				</div>
			</section>

		</div>


		<!-- Scripts -->
		<script src="/templates/assets/js/jquery.min.js"></script>
		<script src="/templates/assets/js/jquery.scrollex.min.js"></script>
		<script src="/templates/assets/js/jquery.scrolly.min.js"></script>
		<script src="/templates/assets/js/browser.min.js"></script>
		<script src="/templates/assets/js/breakpoints.min.js"></script>
		<script src="/templates/assets/js/util.js"></script>
		<script src="/templates/assets/js/main.js"></script>

	</body>
</html>