@{
    ViewData["Title"] = "Home Page";
}

<html>
<head>
	<title>Hem</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="templates/assets/css/main.css" />
	<noscript><link rel="stylesheet" href="templates/assets/css/noscript.css" /></noscript>
</head>
<body class="is-preload">

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Intro -->
		<section id="intro" class="wrapper style1 fullscreen fade-up">
			<div class="inner">
				<h1>Välkommen till musteriet!</h1>
				<p>
					Lasta bilen full med frukt och kom till oss - Vi mustar dina äpplen!<br />
					Must av 100% äpple, inga tillsatser!
				</p>
				<ul class="actions">
					<li><a class="button scrolly" href="/Home/Booking">Boka tid</a></li>
				</ul>
			</div>
		</section>

		<!-- Two -->
		<section id="two" class="wrapper style3 fade-up">
			<div class="inner">
				<h2>Så här går det till</h2>
				<p>Vi använder en packpress från VORAN som ger klar och fin must.Med vår hjälp tvättar, krossar, pressar och pastöriserar maskinerna din must 
					så att den blir färdig att packas i 3 liters bag in boxar.<br /> Har du mycket äpplen i din trädgård? 
					Under säsong kan du skänka dem till oss, och få med dig färdig KvarnnibbleMust hem i utbyte.
					Vi kan också om så önskas komma hem och plocka i din trädgård, ring för överenskommelse.<br/>
					Har du mer än 500kg vänligen kontakta Anna för en specialtid.</p>
				<div class="features">
					<section>
						<span class="icon solid major fa-code"></span>
						<h3>1. Inför din bokning</h3>
						<p>För att få fram den sötaste och godaste musten behöver frukten vara mogen när du lämnar in den. Dela ett äpple för att se om det är moget.<br/>
							Bruna kärnor = moget <br />
							Vita kärnor = omoget<br />
							Allra bäst att musta är fasta höst och vinter äpplen.</p>
					</section>
					<section>
						<span class="icon solid major fa-lock"></span>
						<h3>2. Före mustningen</h3>
						<p>Äpplena kan vara fallfrukt (dock ej från djurhagar) och de kan ha små bruna fläckar med får ej ha börjat ruttna då det påverkar smaken och kvaliteten på musten.<br/>
						   För en pressning behövs ca 30 kg äpplen = minsta vikt du behöver ha med dig.<br/>
						   30 kg äpplen är ca 5-6 välfyllda papperskassar.​<br/>
						   Har du mer än 500kg vänligen kontakta Anna för en specialtid. </p>
					</section>
					<section>
						<span class="icon solid major fa-cog"></span>
						<h3>3. Mustningen</h3>
						<p>Räkna med att du får ut ca 50-70% av fruktens vikt i must beroende på äppelsort. All must är gjord av 100% äpple, inga tillsatser eller färgämnen.<br/>
​						   Vi pressar din must, pastöriserar och gör den klar medan du väntar. Eventuellt överskott av äpplen/must tillfaller musteriet</p>
					</section>
					<section>
						<span class="icon solid major fa-desktop"></span>
						<h3>4. Efter mustningen</h3>
						<p>Pastöriserad must i Bag in Box är hållbar i rumstemperatur minst ett år.<br/>
						   Öppnad förpackning bör förvaras i kylskåp och håller då 4 veckor ( men den brukar inte räcka så länge :-))
						</p>
					</section>
					<!--TODO: Ta bort sektion 5 & 6 om de inte behövs i steg för steg beskrivningen-->
@* 					<section>
						<span class="icon solid major fa-link"></span>
						<h3>5.</h3>
						<p>text</p>
					</section>
					<section>
						<span class="icon major fa-gem"></span>
						<h3>6.</h3>
						<p>text</p>
					</section> *@
				</div>
				<ul class="actions">
					<li><a href="/Home/Booking" class="button">Boka tid</a></li>
				</ul>
			</div>
		</section>

		<!-- One -->
		<section id="one" class="wrapper style2 spotlights">
			<section>
				<a href="#" class="image"><img src="templates/images/pic01.jpg" alt="" data-position="center center" /></a>
				<div class="content">
					<div class="inner">
						<h2>Frågor & Svar</h2>
						<p>Behöver du hjälp? Besök vår frågor & svar-sektion för att hitta enkla och tydliga svar på de vanligaste frågorna.</p>
						<ul class="actions">
							<li><a href="/Home/Faq" class="button">Läs mer</a></li>
						</ul>
					</div>
				</div>
			</section>
		</section>




		<!-- Three -->
		<section id="three" class="wrapper style1 fade-up">
			<div class="inner">
				<h2>Kontakt</h2>
				<p> Här kan vi lägga kontaktinformation samt en karta kanske? Behövs kontaktformulär?</p>
				<div class="split style1">
					<section>
						<form method="post" action="#">
							<div class="fields">
								<div class="field half">
									<label for="name">Namn</label>
									<input type="text" name="name" id="name" />
								</div>
								<div class="field half">
									<label for="email">Email</label>
									<input type="text" name="email" id="email" />
								</div>
								<div class="field">
									<label for="message">Meddelande</label>
									<textarea name="message" id="message" rows="5"></textarea>
								</div>
							</div>
							<ul class="actions">
								<li><a href="" class="button submit">Skicka meddelande</a></li>
							</ul>
						</form>
					</section>
					<section>
						<ul class="contact">
							<li>
								<h3>Adress</h3>
								<span>
									Karltomtavägen 1<br />
									197 93 Bro<br />
								</span>
							</li>
							<li>
								<h3>Email</h3>
								<a href="#">user@untitled.tld</a>
							</li>
							<li>
								<h3>Telefon</h3>
								<span>(000) 000-0000</span>
							</li>
							<li>
								<h3>Sociala medier</h3>
								<ul class="icons">
									<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
									<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
								</ul>
							</li>
						</ul>
					</section>
				</div>
			</div>
		</section>
	</div>

	<!-- Scripts -->
	<script src="templates/assets/js/jquery.min.js"></script>
	<script src="templates/assets/js/jquery.scrollex.min.js"></script>
	<script src="templates/assets/js/jquery.scrolly.min.js"></script>
	<script src="templates/assets/js/browser.min.js"></script>
	<script src="templates/assets/js/breakpoints.min.js"></script>
	<script src="templates/assets/js/util.js"></script>
	<script src="templates/assets/js/main.js"></script>

</body>
</html>
